.App {
  text-align: center;
  background-color: #282c34;
  color:white;
  height:100vh;
  width:100vw;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width:100%;
  height:100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-signup{
  box-sizing: border-box;
  padding:20px;
  display:flex;
  flex-direction: column;
  align-items:center;
}

.tabs{
  display:flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding:10px 20px;
}

.login form ,.signup form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}