target
node_modules
dist/
.cache

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Local Netlify folder
.netlify
matico_charts/package-lock.json
.vscode/settings.json
